@media (max-width: 576px) {
  .offcanvas {
    background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 1)),
      url("../images/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s;
  }

  .offcanvas-body {
    padding: 25% 0px 0px 0px;
  }

  #page-links {
    align-items: center;
    gap: 15px;
  }

  #page-links li a {
    color: var(--section--colors);
    list-style: none;
    position: relative;
    font-size: calc(2rem + 0.5vw);
    font-weight: 300;
  }

  .phone_and_mail {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .phone_and_mail a {
    color: var(--section--colors);
    text-decoration: none;
  }

  .logo {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1050;
  }

  .hamRotate.active {
    z-index: 1050;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

@media (min-width: 576px) {
  .skill-block,
  .flip-card,
  .label {
    width: calc(50% - 0.5rem);
  }

  .skill-block img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
  }

  #page-links li a {
    line-height: 1rem;
  }
}

@media (min-width: 768px) {
  .skill-block {
    width: calc(33.33333333% - 1rem);
  }

  .layer__header {
    font-size: calc(4rem + 0.7vw);
  }

  .btn {
    font-size: calc(0.4rem + 0.7vw);
  }
}

@media (max-width: 992px) {
  .textarea {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .flip-card {
    width: calc(25% - 0.5rem);
  }

  .skill-block img {
    width: auto;
  }

  .label {
    width: 100%;
  }

  .info {
    width: calc(25% + 3.5rem);
  }

  .textarea {
    width: calc(41.6666667% - 1rem);
  }

  .carousel_item {
    width: 625px;
  }

  .btn {
    width: calc(58.33333333% - 1rem);
  }
}
