@media (max-width: 576px) {

    .contact-block.col-6 {
        width: calc(50% - .5rem);
    }
}

@media (min-width: 576px) {

    .skill-block,
    .service-block,
    .label,
    .contact-block {
        width: calc(50% - 1rem);
    }

    .skill-block img {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

@media (min-width: 768px) {
    .skill-block {
        width: calc(33.33333333% - 1rem);
    }
}

@media (min-width: 992px) {
    .service-block {
        width: calc(25% - 1rem);
    }

    .contact-block {
        width: calc(100%);
    }
}