@media (max-width: 992px) {
  #page-links li a {
    color: var(--section--colors);
    list-style: none;
    font-size: calc(2rem + 0.5vw);
    font-weight: 300;
  }

  .phone_and_mail {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .phone_and_mail a {
    color: var(--section--colors);
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  /* .service {
    width: calc(50% - 0.5rem);
  } */

  .skill-block img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
  }
}

/* @media (min-width: 768px) {

}

@media (max-width: 992px) {
} */

@media (min-width: 992px) {
  .service {
    border-bottom: none;
    border-left: 2px solid #f1f1f1;
  }
  #formTelegram > h5,
  #services > h5,
  #portfolio > h5,
  #skills > h5 {
    width: 41.66666667%;
  }

  .secondary-skill-block > .skill-block {
    width: calc(32.5% - 0.5rem);
  }
}
