:root {
  --links--underline: #88bab1;
  --section--colors: #ebe5e5;
  --main--color: #0f0f0f;
  --gray--p: #e6e6e6;
  --main--h2--color: #e5e5e5;
  --h2--before--color: #16213e;
  --skill--border: #2c2c2c;
  --skill--span: rgba(255, 255, 255, 0.3);
  --contacts--p: #acacac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AvenirNextCyr-Regular", "sans-serif";
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  max-width: 100%;
  cursor: url(../images/cursor.png), auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 4.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.navbar-toggler {
  border: none;
}

#z-index-navbar {
  z-index: 5;
  top: 0;
  left: 0;
}

#page-links {
  text-transform: uppercase;
}

#page-links li a {
  color: var(--section--colors);
  list-style: none;
  position: relative;
}

#page-links li a:hover {
  color: var(--h2--before--color);
}

.section-right-text {
  z-index: 2;
  right: 15px;
  bottom: 150px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.section-right-text p {
  color: var(--section--colors);
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 22px;
}

.arrow-container {
  z-index: 2;
  background-color: var(--main--color);
}

.arrow-container img {
  width: 60px;
  height: 55px;
  animation: jumping-arrow 2s ease-in-out 0.3s infinite;
  position: relative;
  bottom: 60px;
  z-index: 999;
}

.arrow-container img:hover {
  animation: none;
  transform: scale(1.1);
}

.main-header {
  position: relative;
}
.main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}
.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(2rem + 0.7vw);
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.layers__title {
  font-size: calc(var(--index) * 2.65);
  letter-spacing: calc(var(--index) / 2.25);
  font-weight: 800;
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -0.75);
  font-weight: 800;
}

/* второй слайд */
main {
  background-color: var(--main--color);
}

main :where(#skills, #portfolio, #services, #contacts) h2 {
  font-weight: 700;
  /* font-style: normal; */
  font-size: 28px;
  line-height: 24px;
  color: var(--main--h2--color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 40px 0px;
  text-transform: capitalize;
}

.skill-block {
  border: 2px solid var(--skill--border);
  border-radius: 5px;
  position: relative;
  padding: 10px;
  text-transform: uppercase;
  height: 150px;
}

.skill-block p {
  position: relative;
  font-weight: 400;
  line-height: 24px;
  font-size: calc(1rem + 0.2vw);
  color: var(--main--h2--color);
  width: fit-content;
}

.skill-block img {
  position: absolute;
  right: 5px;
  top: 5px;
}

.skill-block span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: var(--skill--span);
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

#portfolio span {
  font-weight: 300;
  font-size: calc(0.9rem + 0.2vw);
  line-height: 14px;
  text-align: center;
  color: var(--main--h2--color);
  position: relative;
  padding: 0px 0px 3px 0px;
  cursor: pointer;
}

#portfolio span:not(.active) {
  opacity: 0.7;
}

#portfolio span.active::after,
#portfolio span:hover::after {
  background-color: var(--h2--before--color);
}

.slick-slide > div > a > img {
  border-radius: 7px;
  object-fit: cover;
}

.slick-slide {
  position: relative;
}

.slick-slide :is(h3, p, .site-title, .site-logo, .show-project) {
  position: absolute;
  opacity: 0;
}

.slick-slide h3 {
  top: 120px;
  left: 50px;
  color: #ebe5e5;
}

.slick-slide p {
  top: 160px;
  left: 50px;
  padding: 0px 20px 0px 0px;
  max-height: 170px;
  overflow: hidden;
  color: #c0c0c0;
}

.slick-slide > span {
  top: 60px;
  right: 40px;
  color: #ebe5e5;
}

.site-logo {
  top: 30px;
  left: 40px;
}

.show-project {
  text-transform: uppercase;
  bottom: 50px;
  left: 50px;
  width: 100%;
  color: #ebe5e5;
  display: flex;
}

.show-project span:hover {
  text-decoration: underline;
}

.show-project img {
  margin-left: 10px;
}

.slick-slide::before {
  position: absolute;
  content: "";
  opacity: 0.8;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  transform: translate(0.5rem, 0.5rem);
  border-radius: 7px;
}

.slick-slide:hover::before {
  background-color: #060606;
  transition: all 0.6s;
}

.slick-slide:hover :is(h3, p, span, .site-logo, .show-project) {
  opacity: 1;
  transition: opacity 1.5s;
}

.service {
  color: white;
  border: 1px solid var(--skill--border);
  border-radius: 5px;
  max-height: 450px;
  overflow: hidden;
}

.name_of_service {
  padding: 15px 20px;
  height: fit-content;
  border-bottom: 1px solid var(--skill--border);
  font-size: calc(1rem + 0.2vw);
  font-weight: 700;
}

.service > ul {
  margin-top: 10px;
  flex: 1 1 0;
}

.service > ul > li {
  font-family: "Avenir Next Cyr";
  font-style: normal;
  font-weight: 400;
  color: #16213e;
}

.service > ul > li > span {
  color: #ffffff;
  font-size: calc(0.9rem + 0.1vw);
}

.service > span {
  text-transform: uppercase;
  font-size: calc(2rem + 0.3vw);
  margin: 30px 0px 10px 15px;
}

.label {
  border: 2px solid var(--skill--border);
  outline: none;
}

.input {
  border: none;
  background: var(--main--color);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 20px;
  color: #ffffff;
}

form :where(.input, .textarea)::placeholder {
  text-transform: capitalize;
}

.textarea {
  padding: 20px;
  border: none;
  background: var(--main--color);
  border: 2px solid var(--skill--border);
  color: #ffffff;
  resize: none;
  max-height: 400px;
}

/* Размеры скроллбара */
.textarea::-webkit-scrollbar {
  width: 10px;
}

/* Трек поле скроллбара */
.textarea::-webkit-scrollbar-track {
  background: var(--contacts--p);
}

/* Ползунок скроллбара */
.textarea::-webkit-scrollbar-thumb {
  background: var(--skill--border);
  border-radius: 10px;
}

.privacy {
  color: var(--section--colors);
}

.privacy a {
  text-decoration: none;
  color: var(--h2--before--color);
}

.privacy a:hover {
  text-decoration: underline;
}

.contact-block,
.info,
.textarea,
.input,
.label,
.btn {
  border-radius: 7px;
  z-index: 2;
  outline: none;
}

.btn {
  height: 70px;
  color: #ffffff;
  font-weight: 500;
  background: var(--h2--before--color);
  font-size: calc(0.7rem + 0.7vw);
  text-transform: uppercase;
  border: none;
  opacity: 0.8;
  width: 100%;
}

.btn:hover {
  background-color: var(--h2--before--color);
  opacity: 1;
  color: white;
}

.contact-info > div {
  position: relative;
  padding: 0px 0px 0px 15px;
}

.contact-info > div::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--h2--before--color);
  left: 0;
  top: 6px;
}

.contact-info > div > span {
  color: var(--main--h2--color);
}
.contact-info > div > p {
  color: var(--contacts--p);
}

.icons a img {
  width: 35px;
  height: auto;
}

footer {
  background-color: var(--main--color);
  height: 220px;
}

.footer {
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(65px + 3.5vw);
  height: auto;
}

.footer-text a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: calc(0.8rem + 0.5vw);
  line-height: 20px;
  z-index: 2;
}

.footer-right {
  color: #9c9c9c;
}
