* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;
}

html,
body {
   min-height: 100vh;
   width: 100%;
   background: linear-gradient();
}

.z-index-container {
   z-index: 1;
}

.logo {
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 700;
   font-size: 2em;
   letter-spacing: 2px;
}

#header ul li {
   list-style: none;
   margin: 0px 0px 0px 20px;
}

#header ul li a {
   text-decoration: none;
   padding: 6px 15px;
   color: #fff;
<<<<<<< HEAD
=======
   z-index: 13;
}


.burger {
   display: none;
}

header ul li a:hover,
header ul li a.active,
.back-top {
   background: #fff;
   color: #2b1055;
   border-radius: 20px;
>>>>>>> main
}

canvas {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index: 10;
}

section {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

section img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

<<<<<<< HEAD
#blue-bg {
   z-index: 1;
=======
.container {
   background-color:#3B3C3E;
   display: flex;
   justify-content: center;
}

.col {
   display: table-row-group;
   display: flex;
}

.block-1 h3 {
   color: rgba(255, 255, 255, 0.3);
}

.block-1 {
   margin-top: 20px;
   margin-right: 50px;
   display: table-row-group;
   border: 1px solid #9E9D9D;
   border-radius: 5px
   display: inline-block;
}

.portfolio-cards-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
   margin-bottom: 30px;
   max-width: 540px;
   background-color: white;
   box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
   transition: transform 0.2s ease-in;
}

.card:hover {
   transform: translateY(-15px);
}

.card-link {
   display: block;
   padding: 20px;
   color: #000000;
   text-decoration: none;
   transition: 0.2s ease-in;
}

#back {
   z-index: 2;
   top: 25px;
}

#lines {
   z-index: 2;
   top: 25px;
}

#ball,
#ball-2 {
   z-index: 2;
}

.sec {
   position: relative;
   padding: 50px;
   background: #7866c4;
   z-index: 11;
}

.sec h2 {
   font-size: 3.5em;
   margin: 0px 0px 10px 0px;
   color: #d7ccd9;
}

.sec p {
   font-size: 1.2em;
   color: #d7ccd9;
}

.sec-2 {
   position: relative;
   padding: 50px;
   background: #864098;
   min-height: 100vh;
   z-index: 11;
}

@media screen and (max-width:768px) {
   .burger {
       display: flex;
       flex-direction: column;
   }

   .burger span {
       line-height: 8px;
       font-size: 18px;
       font-weight: 900;
   }

   header ul {
       display: none;
   }

>>>>>>> main
}