* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;
}

html,
body {
   min-height: 100vh;
   width: 100%;
   background: linear-gradient();
}

.z-index-container {
   z-index: 1;
}

.logo {
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 700;
   font-size: 2em;
   letter-spacing: 2px;
}

#header ul li {
   list-style: none;
   margin: 0px 0px 0px 20px;
}

#header ul li a {
   text-decoration: none;
   padding: 6px 15px;
   color: #fff;
}

canvas {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index: 10;
}

section {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

section img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#blue-bg {
   z-index: 1;
}